body{
  background-color: rgb(26, 44, 87);
  color: rgb(209, 166, 131);
  padding-left: 20px;

  }
.window-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  
}
  
.search{
  background-color: cadetblue;
  width: 25%;
  border-radius: 20px;
  line-height: 5%;
  padding: 10px;
  text-align: center;
  color: rgb(26, 44, 87);
  font-size: 20px;
  padding-top: 10%;
    opacity: .75;
}
  
.ticketwindow{
  background-color: #5f9ea0;
  width: 60%;
  height: 650px;
  overflow-y: auto;
  align-content: center;
  border-radius: 20px;
  padding: 20px;
  color: rgb(26, 44, 87);
    opacity: .75;

}
.airport{
  border: 2px groove palevioletred;
  padding: 2px;
  border-radius: 5px;
}    
    
/*MW: script for slider*/
.slidecontainer {
  width: 100%; /* Width of the outside container */
}
  
/* Mouse-over effects */
.slider {
  -webkit-appearance: none;
  width: 90%;
  height: 15px;
  border-radius: 5px;   
  background:rgb(26, 44, 87);
  outline: none;
  /*opacity: 0.7; */
  -webkit-transition: .2s;
  transition: opacity .2s;
}
  
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: rgb(26, 44, 87);
  cursor: pointer;
}
  
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(26, 44, 87);
  cursor: pointer;
}
  
  /* end css for slider */
  
  
/*MW: css for toggle switches */
  
.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 34px;
}
  
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
  
.toggleslider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(26, 44, 87);
  -webkit-transition: .4s;
  transition: .4s;
}
  
.toggleslider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 10px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;   
}
  
input:checked + .toggleslider {
  background-color: rgb(26, 44, 87);
}
  
input:focus + .toggleslider {
  box-shadow: 0 0 1px rgb(26, 44, 87);
}
  
input:checked + .toggleslider:before {
  -webkit-transform: translateX(56px);
  -ms-transform: translateX(56px);
  transform: translateX(56px);
}
  
.toggleslider.round {
  border-radius: 34px;
}
   
.toggleslider.round:before {
  border-radius: 50%;
}
/*end toggle baby slider*/


/*MW: arrivals CSS*/

div.arrivals{
  float: left;
  width: 47%;
  height: 500px;
  border: 3px solid #73AD21;
  padding: 10px;
  overflow: scroll;
  color: rgb(209, 166, 131);
}

div.departures{
  float: left;
  width: 47%;
  height: 500px;
  border: 3px solid #A34444;
  padding: 10px;
  overflow: scroll;
  color: rgb(209, 166, 131);
}

.header{
  font-weight: bold;
  border: solid 1px yellow;
}
.a{
  display:flex;
}

.d{
  display: flex;
}

.flight{
  flex: 12%;
}
.from{
  flex: 25%;
}
.depart_time{
  flex: 12%;
}
.arrive_time{
  flex: 12%;
}
.status{
  flex: 24%;
}
.cancel{
  flex: 15%;
}

.sunny{
  background-image: url("sunshine.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 100px 100px;
}
.raining{
  background-image: url("Rain-6s-120x120px.svg");
 
}
.snowing{
  background-image: url("Sunshine.png")
}